.div{
    display: grid;
    background-color: black;
    justify-content: center;
    padding: 10px 2px;
    box-sizing: border-box;
    border: 2px solid black;
}

.JudulPemain{
    background-color: blue;
    width: 400px;
    display: flex;
    justify-content: center;

}

.container{
    display: grid;
    justify-content: center;
    width: 100vw;
    background-image: url();
}

.gambar{
    background-image: url(mine.jpeg);
    height: 330px;
    width: auto;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.child{
position: relative;
background-color: aqua;
margin: 5px 10px 5px 0px;
padding: 5px;
box-sizing: border-box;
color: blue;
}

.tutup{
    position: absolute;
    right: 0;
    top: 5px;

   
}


